$border-color: #dfe5ec;
$active-color-text: #ffff;
$active-color-bg: #2196f3;
$count-btn: 33.33%;   //процент от количества кнопок

.panel {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    border-radius: 5px;
    border: 1px solid $border-color;
    overflow-x: hidden;
    margin-bottom: 20px;
}

.item {
    width: $count-btn;
    border-left: 1px solid $border-color;

    &:first-child {
        border-left: none;
    }
}

.btn {
    padding: 15px;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    background-color: #ffff;
    border: none;
    width: 100%;
    opacity: 0.95;
    cursor: pointer;
    white-space: nowrap;

    &:hover {
        opacity: 1;
    }
}

.active {
    color: $active-color-text;
    background-color: $active-color-bg;
}


@media (max-width: 767px) {
    .btn {
        padding: 15px 5px;
    }
}

@media (max-width: 479px) {
    .panel {
        flex-flow: column;
    }

    .item {
        width: 100%;
    }
}